body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea,
select,
input[type="file"],
input[type="submit"] {
    padding: 8px;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}

input[type="submit"] {
    background-color: #d62e18;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s;
}

input[type="submit"]:hover {
    background-color: #1b17a0;
}